Repository microsoft/hippocampus, pull requests merged in 2024-05, with the labels that each got.

#14 remove memory pipeline workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/copilot-build-backend.yml
  .github/workflows/copilot-build-memorypipeline.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-memorypipeline.yml
  .github/workflows/copilot-deploy-pipeline.yml
Labels: github actions

#15 Api plugin
  .github/workflows/copilot-build-backend.yml
  .github/workflows/dotnet-format.yml
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ServiceExtensions.cs
  webapi/Options/DataApiOptions.cs
  webapi/appsettings.json
Labels: webapi, github actions

#18 Data Api PR
  .github/workflows/codeql-analysis.yml
  .github/workflows/copilot-build-memorypipeline.yml
  .github/workflows/copilot-deploy-environment.yml
  .github/workflows/copilot-deploy-memorypipeline.yml
  .github/workflows/copilot-deploy-pipeline.yml
  .github/workflows/dotnet-format.yml
  shared/CopilotChatShared.csproj
  webapi/Controllers/ChatController.cs
  webapi/CopilotChatWebApi.csproj
  webapi/Extensions/ServiceExtensions.cs
  webapi/Options/DataApiOptions.cs
  webapi/appsettings.json
Labels: webapi, github actions

#20 Update copilot-deploy-pipeline.yml
  .github/workflows/copilot-deploy-pipeline.yml
Labels: github actions

#17 Cajetzer/task998/UICleanup
  webapp/src/App.tsx
  webapp/src/components/header/settings-dialog/SettingSection.tsx
  webapp/src/redux/features/app/AppState.ts
Labels: webapp

#21 Project cleanup
  CopilotChat.sln
  dataapi/Program.cs
  integration-tests/ChatCopilotIntegrationTest.cs
  integration-tests/ChatCopilotIntegrationTests.csproj
  integration-tests/ChatTests.cs
  integration-tests/HealthzTests.cs
  integration-tests/README.md
  integration-tests/ServiceInfoTests.cs
  integration-tests/SpeechTokenTests.cs
  integration-tests/StaticFiles.cs
  integration-tests/testsettings.json
  tools/importdocument/Config.cs
  tools/importdocument/ImportDocument.csproj
  tools/importdocument/Program.cs
  tools/importdocument/README.md
  tools/importdocument/appsettings.json
  tools/importdocument/sample-docs/Lorem_ipsum.pdf
  tools/importdocument/sample-docs/Microsoft-Responsible-AI-Standard-v2-General-Requirements.pdf
  tools/importdocument/sample-docs/ms10k.txt
  webapi/appsettings.json
Labels: documentation, webapi

#23 add http core plugin
  dataapi/Controllers/assetcontroller.cs
  dataapi/DataApi.csproj
  dataapi/Program.cs
  memorypipeline/CopilotChatMemoryPipeline.csproj
  webapi/Extensions/SemanticKernelExtensions.cs
Labels: webapi

#35 Httpplugin
  dataapi/Data/SalesDb.cs
  dataapi/Models/Asset.cs
  dataapi/Models/Order.cs
  dataapi/Models/SingletonDatastore.cs
  dataapi/Program.cs
  webapi/Controllers/ChatController.cs
  webapi/Extensions/SemanticKernelExtensions.cs
Labels: webapi

#36 Dataapideployment
  .gitignore
  apis.yaml
  dataapi/Controllers/assetcontroller.cs
  dataapi/Data/SalesDb.cs
  dataapi/DataApi.csproj
  dataapi/Files/demo.csv
  dataapi/Files/odataopenai.yaml
  dataapi/Files/test.yaml
  dataapi/Models/Order.cs
  dataapi/Models/SingletonDatastore.cs
  dataapi/Program.cs
  dataapi/appsettings.json
  dataapi/helpers/AssetsMap.cs
  dataapi/helpers/CSVReaderHelper.cs
  memorypipeline/CopilotChatMemoryPipeline.csproj
  scripts/deploy/deploy-dataapi.ps1
  scripts/deploy/package-dataapi.ps1
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/appsettings.json
Labels: webapi, deployment

#37 update deployment scripts
  scripts/deploy/main.bicep
  scripts/deploy/package-webapi.ps1
Labels: deployment

#38 Revert "Dataapideployment"
  .gitignore
  apis.yaml
  dataapi/Controllers/assetcontroller.cs
  dataapi/Data/SalesDb.cs
  dataapi/DataApi.csproj
  dataapi/Files/demo.csv
  dataapi/Files/odataopenai.yaml
  dataapi/Files/test.yaml
  dataapi/Models/Order.cs
  dataapi/Models/SingletonDatastore.cs
  dataapi/Program.cs
  dataapi/appsettings.json
  dataapi/helpers/AssetsMap.cs
  dataapi/helpers/CSVReaderHelper.cs
  memorypipeline/CopilotChatMemoryPipeline.csproj
  scripts/deploy/deploy-dataapi.ps1
  scripts/deploy/package-dataapi.ps1
  webapi/Extensions/SemanticKernelExtensions.cs
  webapi/appsettings.json
Labels: webapi, deployment

#39 added deploy scripts
  scripts/deploy/deploy-dataapi.ps1
  scripts/deploy/package-dataapi.ps1
Labels: deployment

#43 Deploy scripts refactor
  dataapi/DataApi.csproj
  scripts/deploy/database/sqlserver/SQLServerInit.sql
  scripts/deploy/main.bicep
Labels: deployment

#44 Deploy scripts refactor
  dataapi/appsettings.json
  webapp/src/index.tsx
Labels: webapp

#45 add start scripts for dataapi
  docs/application-map.png
  scripts/Start-DataApi.ps1
  scripts/Start.ps1
  scripts/deploy/main.bicep
  webapi/appsettings.json
Labels: webapi, deployment

#46 Fix DataApi start script and vscode launch, and update README
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  dataapi/README.md
  docs/ChatCoPilotQuickStart_May2024.md
  docs/ChatWithSalesData_Architecture.drawio
  scripts/Start-DataApi.ps1
  scripts/Start.ps1
Labels: documentation

#47 remove typo and link checkers
  .github/_typos.toml
  .github/labeler.yml
  .github/workflows/markdown-link-check-config.json
  .github/workflows/markdown-link-check.yml
  .github/workflows/typos.yaml
Labels: github actions
